

.container {
    /* max-width: 400px;
    max-height: 300px;
    min-width: 200px;
    min-height: 100px; */
    height: 40%;
    width: 30%;
    border: 3px solid #5679bf;
    border-radius: 7px;
    margin-top: 50px ;
    display: flex;  
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button {
    width: 100%;
}