.menuItem {
    font-size: 12px;
    color: wheat;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid wheat;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;

    height: 25px;
    width: 35px;

    &:hover {
        background-color: wheat;
        color: white;
        transform: translateY(-2px);
    }

    &:focus {
        outline: none;
    }

    &:active {
        transform: translateY(0);
    }
}

.button_container {
    display: flex;
    gap: 10px; 
}