
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.root {
    width: 400px;
    padding: 20px;
    border: 1px solid #dedede;
    margin-top: 20px;
}

.field {
    margin-bottom: 20px !important;
}

.title {
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 20px !important;
}

.avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.isRemember {
    display: flex;
}